{% extends "base.html" %}
{% block content %}

<div class="row fullWidth withTop">
<div class="large-2 columns">
  <div id="dvData">
  <table>
    <thead>
        <tr class="service">
          <td colspan="11">
              {% if datetime %}<span>{{ datetime }}</span>{% endif %}
              <span>{{ storages|length }} records</span>
              {% if integer %}<span>integer: {{ integer }}</span>{% endif %}
              {% if request.GET|length %}<span><a href="{{ request.path }}" class="clear_filter">clear filter</a></span>{% endif %}
              <span><a href="{{ request.build_absolute_uri }}">page link</a></span>
          </td>
        </tr>
        <tr>
          <td>Storage</td>
      <form action="." method="get">
        <tr class="filter">
          <th><input type="text" id="Storage" name="Storage"></th>
        </tr>
        <input type="submit" value="OK" class="filter_submit">
      </form>
    </thead>
    <tbody>
      {% for storage in storages %}
        <tr>
          <td>{{ storage }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

</div>
<div class="large-10 columns">
    <div id="container" style="width:100%; height:500px;"></div>
</div>
</div>

{% endblock %}

{% block script %}
<script>

$(function () { 
    $('#container').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: '',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: [{% for date in dates %}'{{ date }}', {% endfor %}]
        },
        yAxis: {
            title: {
                text: ''
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'TB'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [
        {
            name: 'RESERVE',
            data: [{% for value in fieldsvalues.RESERVE %}{{ value }}, {% endfor %}],
            visible: {% if 'RESERVE' in visible_series %}true{% else %}false{% endif %},
        }, {
            name: 'RESERVE_OVERUSED',
            data: [{% for value in fieldsvalues.RESERVE_OVERUSED %}{{ value }}, {% endfor %}],
            visible: {% if 'RESERVE_OVERUSED' in visible_series %}true{% else %}false{% endif %},
        }, {
            name: 'USED',
            data: [{% for value in fieldsvalues.USED %}{{ value }}, {% endfor %}],
            visible: {% if 'USED' in visible_series %}true{% else %}false{% endif %},
        }, {
            name: 'FREE',
            data: [{% for value in fieldsvalues.FREE %}{{ value }}, {% endfor %}],
            visible: {% if 'FREE' in visible_series %}true{% else %}false{% endif %},
        }, {
            name: 'OVERPROVISIONED',
            data: [{% for value in fieldsvalues.OVERPROVISIONED %}{{ value }}, {% endfor %}],
            visible: {% if 'OVERPROVISIONED' in visible_series %}true{% else %}false{% endif %},
        }, {
            name: 'reserve_used',
            data: [{% for value in fieldsvalues.reserve_used %}{{ value }}, {% endfor %}],
            visible: {% if 'reserve_used' in visible_series %}true{% else %}false{% endif %},
        }, {
            name: 'reserve_free',
            data: [{% for value in fieldsvalues.reserve_free %}{{ value }}, {% endfor %}],
            visible: {% if 'reserve_free' in visible_series %}true{% else %}false{% endif %},
        }, {
            name: 'full',
            data: [{% for value in fieldsvalues.full %}{{ value }}, {% endfor %}],
            visible: {% if 'full' in visible_series %}true{% else %}false{% endif %},
        }, {
            name: 'cpvv',
            data: [{% for value in fieldsvalues.cpvv %}{{ value }}, {% endfor %}],
            visible: {% if 'cpvv' in visible_series %}true{% else %}false{% endif %},
        }, {
            name: 'tpvv_used',
            data: [{% for value in fieldsvalues.tpvv_used %}{{ value }}, {% endfor %}],
            visible: {% if 'tpvv_used' in visible_series %}true{% else %}false{% endif %},
        }, {
            name: 'tpvv_free',
            data: [{% for value in fieldsvalues.tpvv_free %}{{ value }}, {% endfor %}],
            visible: {% if 'tpvv_free' in visible_series %}true{% else %}false{% endif %},
        }, {
            name: 'copy',
            data: [{% for value in fieldsvalues.copy %}{{ value }}, {% endfor %}],
            visible: {% if 'copy' in visible_series %}true{% else %}false{% endif %},
        }]
    });
});

// set filter values
    $( ".filter input" ).each(function( index ) {
      $(this).val(getUrlParameter(this.name));
    });
</script>
{% endblock %}


