{% extends "base.html" %}
{% block content %}
<div id="item_name" style="display: none">{{ item_name }}</div>

<div class="row fullWidth withTop">
<div class="columns">

  <style>
    .fields1 td {text-align:center;}
    tbody tr td,
    .fields2 td {text-align:right;}
  </style>

  <div id="dvData">
  <table>
    <thead>
        <tr class="service">
          <td colspan="11">
              {% if datetime %}<span>{{ datetime }}</span>{% endif %}
              <span>{{ rows|length }} records</span>
              {% if integer %}<span>integer: {{ integer }}</span>{% endif %}
              {% if request.GET|length %}<span><a href="{{ request.path }}" class="clear_filter">clear filter</a></span>{% endif %}
              <span><a href="#" class="export">export to csv</a></span>
              <span><a href="{{ request.build_absolute_uri }}">page link</a></span>
          </td>
        </tr>
        <tr class="fields1">
          <th>Storage</th>
          <td colspan=5>Raw</td>
          <td colspan=5>Formatted</td>
        </tr>
        <tr class="fields2">
          <th></th>
          <td>Total</td>
          <td>Data</td>
          <td>Spare</td>
          <td>Allocated</td>
          <td>Free</td>
          <td>Total</td>
          <td>Used</td>
          <td>Presented</td>
          <td>NotPresented</td>
          <td>Available</td>
        </tr>
      <form action="." method="get">
        <tr class="filter">
          <th><input type="text" id="Storage" name="Storage"></th>
          <th><input type="text" id="RawTotal" name="RawTotal"></th>
          <th><input type="text" id="RawData" name="RawData"></th>
          <th><input type="text" id="RawSpare" name="RawSpare"></th>
          <th><input type="text" id="RawAllocated" name="RawAllocated"></th>
          <th><input type="text" id="RawFree" name="RawFree"></th>
          <th><input type="text" id="FormattedTotal" name="FormattedTotal"></th>
          <th><input type="text" id="FormattedUsed" name="FormattedUsed"></th>
          <th><input type="text" id="FormattedPresented" name="FormattedPresented"></th>
          <th><input type="text" id="FormattedNotPresented" name="FormattedNotPresented"></th>
          <th><input type="text" id="FormattedAvailable" name="FormattedAvailable"></th>
        </tr>
        <input type="submit" value="OK" class="filter_submit">
      </form>
    </thead>
    <tbody>
      {% for obj in objs %}
        <tr>
          <th>{{ obj.Storage }}</th>
          <td>{{ obj.RawTotal }}</td>
          <td>{{ obj.RawData }}</td>
          <td>{{ obj.RawSpare }}</td>
          <td>{{ obj.RawAllocated }}</td>
          <td>{{ obj.RawFree }}</td>
          <td>{{ obj.FormattedTotal }}</td>
          <td>{{ obj.FormattedUsed }}</td>
          <td>{{ obj.FormattedPresented }}</td>
          <td>{{ obj.FormattedNotPresented }}</td>
          <td>{{ obj.FormattedAvailable }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

</div>
</div>

{% endblock %}


{% block script %}
<script>
// set filter values
    $( ".filter input" ).each(function( index ) {
      $(this).val(getUrlParameter(this.name));
    });
// export table to csv
    $(".export").on('click', function (event) {
      exportTableToCSV.apply(this, [$('#dvData>table'), $('#item_name').text()+'.csv']);
    });
</script>
{% endblock %}


