{% extends "base.html" %}
{% block content %}

<div class="row fullWidth withTop">
<div class="columns">

  <div id="page_label" style="display:none">{{ page_label }}</div>
  <div id="last_update" style="display:none">{{ last_update|date:"Y-m-d-H:i"}}</div>

  <style>
    tbody tr td,
    .fields2 td {text-align:right;}
    .sum_row th {text-align:right; border-top:1px solid #999;}
    .delimiter {border-right:1px solid #999;}
    .hlight {background: #A0D3E8}
  </style>

  <div id="dvData">

  <table class="sortable tablesorter">
    <thead>
        <tr class="service">
          <td colspan="11">
              <span>{{ objs|length }} records</span>
              {% if integer %}<span>integer: {{ integer }}</span>{% endif %}
              <span>R - Raw, F - Formatted</span>
              {% if request.GET|length %}<span><a href="{{ request.path }}" class="clear_filter">clear filter</a></span>{% endif %}
              <span><a href="#" class="export">export to csv</a></span>
              <span><a href="{{ request.build_absolute_uri }}">page link</a></span>
          </td>
        </tr>
        <tr class="fields2">
          <th class="delimiter">Storage</th>
          <th>R&nbsp;Total</th>
          <th>R&nbsp;Data</th>
          <th>R&nbsp;Spare</th>
          <th>R&nbsp;Allocated</th>
          <th class="delimiter">R&nbsp;Free</th>
          <th>F&nbsp;Total</th>
          <th class="hlight">F&nbsp;Used</th>
          <th>F&nbsp;Presented</th>
          <th>F&nbsp;NotPresented</th>
          <th class="hlight">F&nbsp;Available</th>
        </tr>
        <tr class="filter">
      <form action="." method="get">
          <td><input type="text" id="Storage" name="Storage"></td>
          <td><input type="text" id="RawTotal" name="RawTotal"></td>
          <td><input type="text" id="RawData" name="RawData"></td>
          <td><input type="text" id="RawSpare" name="RawSpare"></td>
          <td><input type="text" id="RawAllocated" name="RawAllocated"></td>
          <td><input type="text" id="RawFree" name="RawFree"></td>
          <td><input type="text" id="FormattedTotal" name="FormattedTotal"></td>
          <td><input type="text" id="FormattedUsed" name="FormattedUsed"></td>
          <td><input type="text" id="FormattedPresented" name="FormattedPresented"></td>
          <td><input type="text" id="FormattedNotPresented" name="FormattedNotPresented"></td>
          <td><input type="text" id="FormattedAvailable" name="FormattedAvailable"></td>
        <input type="submit" value="OK" class="filter_submit">
      </form>
        </tr>
    </thead>
    <tbody>
      {% for obj in objs %}
        <tr>
          <th class="delimiter">{{ obj.Storage }}</th>
          <td>{{ obj.RawTotal }}</td>
          <td>{{ obj.RawData }}</td>
          <td>{{ obj.RawSpare }}</td>
          <td>{{ obj.RawAllocated }}</td>
          <td class="delimiter">{{ obj.RawFree }}</td>
          <td>{{ obj.FormattedTotal }}</td>
          <td class="hlight">{{ obj.FormattedUsed }}</td>
          <td>{{ obj.FormattedPresented }}</td>
          <td>{{ obj.FormattedNotPresented }}</td>
          <td class="hlight">{{ obj.FormattedAvailable }}</td>
        </tr>
      {% endfor %}
    </tfoot>
        <tr class="sum_row">
          <th class="delimiter"></th>
          <th>{{ sum_row.RawTotal }}</th>
          <th>{{ sum_row.RawData }}</th>
          <th>{{ sum_row.RawSpare }}</th>
          <th>{{ sum_row.RawAllocated }}</th>
          <th class="delimiter">{{ sum_row.RawFree }}</th>
          <th>{{ sum_row.FormattedTotal }}</th>
          <th class="hlight">{{ sum_row.FormattedUsed }}</th>
          <th>{{ sum_row.FormattedPresented }}</th>
          <th>{{ sum_row.FormattedNotPresented }}</th>
          <th class="hlight">{{ sum_row.FormattedAvailable }}</th>
        </tr>
    </tfoot>
  </table>

  </div>

  {% if objs %}
  <div id="container" style="width: 100%; margin-bottom: 1em;"></div>
  {% endif %}

</div>
</div>



{% endblock %}


{% block script %}
<script>

    // set filter values
    $( ".filter input" ).each(function( index ) {
      $(this).val(getUrlParameter(this.name));
    });

    // export table to csv
    $(".export").on('click', function (event) {
      exportTableToCSV.apply(this, [$('#dvData>table'), $('#page_label').text()+'_'+$('#last_update').text()+'.csv']);
    });

$(function () { 

    $('#container').highcharts({
        chart: {
            type: 'column',
        },
        title: {
            text: 'Capacity, TB'
        },
        xAxis: {
            categories: [{% for obj in objs %}'{{ obj.Storage }}', {% endfor %}]
        },
        yAxis: {
            title: {
                text: null,
            },
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            reversed: true
        },
        tooltip: {
            hideDelay: 100,
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y:.2f} TB</b> ({point.percentage:.0f}%)<br>',
            shared: true,
        },
        plotOptions: {
            series: {
                stacking: 'normal',
                //shadow: false,
                //borderWidth: 0,
                dataLabels: {
                    enabled: true, 
                    style: {
                        fontWeight: 'normal',
                        textShadow: 'none',
                    },
                    formatter: function() {
                        if (this.percentage < 1) {
                            return  '';
                        } else {
                            return  Highcharts.numberFormat(this.percentage, 0)+'%';
                        }
                    },
                },
            },

        },
        series: [{
            name: 'RawFree',
            //color: '#2CA8C2',
            stack: 'Raw',
            data: [{% for obj in objs %}{% if obj.RawFree %}{{ obj.RawFree }}{% else %}null{% endif %}, {% endfor %}],
            visible: {% if 'RawFree' in visible_series %}true{% else %}false{% endif %}
        }, {
            name: 'RawAllocated',
            //color: '#2CA8C2',
            stack: 'Raw',
            data: [{% for obj in objs %}{% if obj.RawAllocated %}{{ obj.RawAllocated }}{% else %}null{% endif %}, {% endfor %}],
            visible: {% if 'RawAllocated' in visible_series %}true{% else %}false{% endif %}
        }, {
            name: 'FormattedAvailable',
            color: '#98CB4A',
            stack: 'Formatted',
            data: [{% for obj in objs %}{% if obj.FormattedAvailable %}{{ obj.FormattedAvailable }}{% else %}null{% endif %}, {% endfor %}],
            visible: {% if 'FormattedAvailable' in visible_series %}true{% else %}false{% endif %}
        }, {
            name: 'FormattedNotPresented',
            color: '#F76D3C',
            stack: 'Formatted',
            data: [{% for obj in objs %}{% if obj.FormattedNotPresented %}{{ obj.FormattedNotPresented }}{% else %}null{% endif %}, {% endfor %}],
            visible: {% if 'FormattedNotPresented' in visible_series %}true{% else %}false{% endif %}
        }, {
            name: 'FormattedPresented',
            color: '#F15F74',
            stack: 'Formatted',
            data: [{% for obj in objs %}{% if obj.FormattedPresented %}{{ obj.FormattedPresented }}{% else %}null{% endif %}, {% endfor %}],
            visible: {% if 'FormattedPresented' in visible_series %}true{% else %}false{% endif %}
        }]
    });
});

$(".sortable").tablesorter();

</script>
{% endblock %}


