{% extends "base.html" %}
{% load extras %}
{% block content %}

<div class="row fullWidth withTop">
<div class="columns">

  <div id="page_label" style="display:none">{{ page_label }}</div>
  <div id="last_update" style="display:none">{{ last_update|date:"Y-m-d-H:i"}}</div>

  <style>
    th {width:100px;}
    .stack {width:500px;}
    .stack div {float:left;}
  </style>

  <div id="dvData">


<h5>Total</h5>
<table class="mdl-data-table mdl-js-data-table full-width">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Size</td>
      <th>Volume</td>
      <th>Free</td>
      <th>Spare</td>
      <th class="stack"></th>
    </tr>
  </thead>
  <tbody>
    {% with total as record %}
    <tr>
      <td></td>
      <td></td>
      <td>{{ record.Size_MB__sum|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td>{{ record.Volume_MB__sum|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td>{{ record.Free_MB__sum|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td>{{ record.Spare_MB__sum|convert:"MiB-TiB"|floatformat:"0" }}</td>
    </tr>
    {% endwith %}
  </tbody>
</table>


<h5>by Storage</h5>
<table class="mdl-data-table mdl-js-data-table full-width">
  <thead>
    <tr>
      <th>Storage</th>
      <th></th>
      <th>Size</td>
      <th>Volume</td>
      <th>Free</td>
      <th>Spare</td>
      <th class="stack"></th>
    </tr>
  </thead>
  <tbody>
    {% for record in storage_records %}
    <tr>
      <td>{{ record.Storage }}</td>
      <td></td>
      <td>{{ record.Size_MB__sum|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td>{{ record.Volume_MB__sum|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td>{{ record.Free_MB__sum|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td>{{ record.Spare_MB__sum|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td class="stack">
        <div style="background:#e63946; width:{{ record.Volume_MB__sum|perc_of:max_value }}%">&nbsp;</div>
        <div style="background:#02c39a; width:{{ record.Free_MB__sum|perc_of:max_value }}%">&nbsp;</div>
        <div style="background:#8d99ae; width:{{ record.Spare_MB__sum|perc_of:max_value }}%">&nbsp;</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<h5>by Type</h5>
<table class="mdl-data-table mdl-js-data-table full-width">
  <thead>
    <tr>
      <th></th>
      <th>Type</th>
      <th>Size</td>
      <th>Volume</td>
      <th>Free</td>
      <th>Spare</td>
      <th class="stack"></th>
    </tr>
  </thead>
  <tbody>
    {% for record in pdtype_records %}
    <tr>
      <td></td>
      <td>{{ record.Type }}</td>
      <td>{{ record.Size_MB__sum|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td>{{ record.Volume_MB__sum|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td>{{ record.Free_MB__sum|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td>{{ record.Spare_MB__sum|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td class="stack">
        <div style="background:#e63946; width:{{ record.Volume_MB__sum|perc_of:max_value }}%">&nbsp;</div>
        <div style="background:#02c39a; width:{{ record.Free_MB__sum|perc_of:max_value }}%">&nbsp;</div>
        <div style="background:#8d99ae; width:{{ record.Spare_MB__sum|perc_of:max_value }}%">&nbsp;</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<h5>in detail</h5>
<table class="mdl-data-table mdl-js-data-table full-width">
  <thead>
    <tr>
      <th>Storage</th>
      <th>Type</th>
      <th>Size</td>
      <th>Volume</td>
      <th>Free</td>
      <th>Spare</td>
      <th class="stack"></th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
    <tr>
      <td>{{ record.Storage }}</td>
      <td>{{ record.Type }}</td>
      <td>{{ record.Size_MB|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td>{{ record.Volume_MB|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td>{{ record.Free_MB|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td>{{ record.Spare_MB|convert:"MiB-TiB"|floatformat:"0" }}</td>
      <td class="stack">
        <div style="background:#e63946; width:{{ record.Volume_MB|perc_of:max_value }}%">&nbsp;</div>
        <div style="background:#02c39a; width:{{ record.Free_MB|perc_of:max_value }}%">&nbsp;</div>
        <div style="background:#8d99ae; width:{{ record.Spare_MB|perc_of:max_value }}%">&nbsp;</div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>



</div>
</div>


{% endblock %}


{% block script %}
<script>

</script>
{% endblock %}


