{% if rows and xtimes %}

<div class="outer">

  <div class="inner wrapper1">
    <table>
    </table>
  </div>

  <div class="inner wrapper2">
    <table id="dvData">
        <tr class="xtimes">
            <th>
              {% if integer %}<span>{{ integer }}</span>{% endif %}
              <span>{{ rows|length }} records</span>
              <span><a href="#" class="export">csv</a></span>
            </th>
          {% for xtime in xtimes %}
            <td>{{ xtime.0 }}:{{ xtime.1 }}</td>
          {% endfor %}
        </tr>
      {% for row in rows %}
        <tr>
            <th>
            {% if not ' ' in row.0 %}
                <a href="/bc/counter/?date={{ datestring }}&counter={{ row.0 }}">{{ row.0 }}</a>
            {% else %}
                <a href="/bc/port/?date={{ datestring }}&port={{ row.0.split|join:'_' }}">{{ row.0 }}</a>
            {% endif %}
                {# for port(s) page: counter integer #}
                {# for counter page: portname #}
                {{ row.2|truncatechars:24 }}
            </th>
        {% for value in row.1 %}
            <td>
                {% if value == 0 %}&nbsp;
                {% elif value < 1 %}<span>{{ value }}</span>
                {% else %}{{ value }}
                {% endif %}
            </td>
        {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>

</div> <!-- outer -->


<script>
$(function(){
    // fix first row in top position (sanscript.js);

    var wrapper1 = $(".wrapper1");
    var wrapper2 = $(".wrapper2");
    var toprow = $(".xtimes");

    fixTableSizes(wrapper2);
    scrollWrappers(wrapper1, wrapper2);
    $(window).resize(function() {
        resizeFirstWrapper(wrapper1, wrapper2)
    });
    $(window).scroll(function() {
        fixDiv(wrapper1, wrapper2, toprow)
    });


    // export table to csv file (sanscript.js);

    $(".export").on('click', function (event) {
        exportTableToCSV.apply(this, [$('#dvData'), '{{ counter }}.csv']);
    });

    // scroll .inner table to right end;

    $('.inner').scrollLeft(20000);

})
</script>


{% endif %}
