<div class="row fullWidth">
    {% if app_label != 'sa' %}
    <div class="panel clearfix" {% if sa %}style="border:1px solid red;"{% endif %}>
    {# <div style="display:inline-block;">{{ app.verbose_name }}:</div> #}
      {% for page in app_pages %}
        {% if page.title %}
        <a href="/{{ app_label }}{% if sa %}-sa{% endif %}/{{ page.label }}/"
           class="button small {% if page.label == page_label %}info{% else %}secondary{% endif %} noBottom">
            {{ page.title }}
        </a>
        {% endif %}
      {% endfor %}
        {% if last_update %}
          <div class="button small right disabled secondary"><span>updated: {{ last_update }}</span></div>
        {% endif %}
    </div>
    {% endif %}
</div>
