{% extends "base.html" %}
{% block content %}

<style>
.dashboard i {
  color:white;
  font-size:64px;
}
.dashboard h3 span {
  font-size:0.6em;
}
</style>

<div class="row fullWidth dashboard" style="margin-top:2em;">
<div style="margin:0 1em;">

  <div class="columns large-12">
    <div class="panel text-center" style="background:none; border:none; opacity: 0.8;">
        <h1>SANscript</h1>
    </div>
  </div>

  <div class="columns large-4 medium-4 left">
    <div class="panel" style="background:#FF5454;">
      <a href="/da/">
      <div class="row icon text-center" style="opacity: 0.8;">
         <h3>Storages</h3>
         <i class="fi-cloud"></i>
         <h3>{{ FormattedUsed }}</h3>
         <p>formatted used, TB</p>
         <h3>{{ FormattedAvailable }}</h3>
         <p>formatted free, TB</p>
      </div>
      </a>
    </div>
  </div>

  <div class="columns large-4 medium-4 left">
    <div class="panel" style="background:#67C2EF;">
      <a href="/fc/">
      <div class="row icon text-center" style="opacity: 0.8;">
         <h3>Switches</h3>
         <i class="fi-arrow-right"></i>
         <h3>{{ SwitchesCount }}</h3>
         <p>switches</p>
         <h3>{{ PortsCount }}</h3>
         <p>ports</p>
      </div>
      </a>
    </div>
  </div>

  <div class="columns large-4 medium-4 left">
    <div class="panel" style="background:#FABB3D;">
      <a href="/bc/">
      <div class="row icon text-center" style="opacity: 0.8;">
         <h3>BCounters</h3>
         <i class="fi-target-two"></i>
         <h3>{{ tx_elements }}</h3>
         <p>transmitted data, {{ integer }}</p>
         <h3>{{ active_ports_number }}</h3>
         <p>active ports</p>
      </div>
      </a>
    </div>
  </div>

  <!--

  <div class="columns large-4 medium-4 left">
    <div class="panel" style="background:#79C447;">
      <div class="row icon text-center" style="opacity: 0.8;">
         <h3>in progress</h3>
         <i class="fi-target-two"></i>
         <h3>&nbsp;</h3>
         <p>&nbsp;</p>
         <h3>&nbsp;</h3>
         <p>&nbsp;</p>
      </div>
    </div>
  </div>

  -->

</div>
</div>

{% endblock %}
