<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/sa{% if sa %}-sa{% endif %}/">S</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      {% if user.is_staff %}
      <li {% if sa %}class="active"{% endif %}>
          <a href="/{{ app_label }}{% if not sa %}-sa{% endif %}/">
              <i class="fi-widget" style="color:white;"></i>
          </a>
      </li>
      {% endif %}
      <li class="divider"></li>
      {% if not user.is_authenticated %}
        <li><a href="/accounts/login/?next=/sa/">login</a></li>
      {% else %}
        <li><a href=""><i class="fi-torso" style="color:white;"></i> {{ user }}</a></li>
        <li class="divider"></li>
        <li><a href="/accounts/logout/?next=/sa/">logout</a></li>
      {% endif %}</li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
    <li class="divider"></li>
    {% for a in appslist %}
        <li {% if a == app %}class="active"{% endif %}>
          <a href="/{{ a.label }}{% if sa %}-sa{% endif %}/">
            {% if not a.label == "sa" %}
              {{ a.verbose_name }}
            {% endif %}</a>
        </li>
    {% endfor %}
    <li class="divider"></li>
    </ul>
  </section>
</nav>
