<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/sa{% if sa %}-sa{% endif %}/">S</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="divider"></li>
      <li>{% if not user.is_authenticated %}<a href="/admin/login/?next=/sa/">login</a>{% else %}<a href="/admin/logout/?next=/sa/">logout</a>{% endif %}</li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
    <li class="divider"></li>
    {% for a in appslist %}
        <li {% if a == app %}class="active"{% endif %}>
          <a href="/{{ a.label }}{% if sa %}-sa{% endif %}/">
            {% if not a.label == "sa" %}
              {{ a.verbose_name }}
            {% endif %}</a>
        </li>
    {% endfor %}
    <li class="divider"></li>
    </ul>
  </section>
</nav>
