{% extends "base.html" %}
{% load extras %}
{% block content %}
<div id="item_name" style="display: none">{{ item_name }}</div>

<div class="row fullWidth withTop">
<div class="columns">

<div id="last_obj_id" style="display:none">{{ last_obj_id }}</div>
<div id="csrf_token" style="display:none">{{ csrf_token }}</div>

{% if cols %}

  <div id="dvData">

  <table class="aform">
    <thead>
    <tr class="service">
        <td colspan="{{ cols|length }}">
              {% if datetime %}<span>{{ datetime }}</span>{% endif %}
              <span>{{ rows|length }} records</span>
              {% if integer %}<span>integer: {{ integer }}</span>{% endif %}
              {% if request.GET|length %}<span><a href="{{ request.path }}" class="clear_filter">clear filter</a></span>{% endif %}
              <span><a href="#" class="export">export to csv</a></span>
              <span><a href="{{ request.build_absolute_uri }}">page link</a></span>
        </td>
    </tr>

    <tr>
          <th>From</th>
          <th>Till</th>
          <th>Fabric</th>
          <th>Text</th>
          <th>Note</th>
          <th>Acknowledged</th>
          <th></th>
    </tr>

    <form action="." method="get">
      <tr class="filter">
        <th><input type="text" id="From" name="From"></th>
        <th><input type="text" id="Till" name="Till"></th>
        <th><input type="text" id="Fabric" name="Fabric"></th>
        <th><input type="text" id="Text" name="Text"></th>
        <th><input type="text" id="Note" name="Note"></th>
        <th><input type="text" id="Acknowledged" name="Acknowledged"></th>
        <th></th>
      </tr>
      <input type="submit" value="OK" class="filter_submit">
    </form>


    </thead>
    <tbody>

    {% for obj in objs %}
      <tr style="background: {% if obj.Acknowledged %}#CCFFCC{% else %}#FFCCFF{% endif %}">
          <td>{{ obj.id }} </td>
          <td>{{ obj.From }} </td>
          <td>{{ obj.Till }} </td>
          <td>{{ obj.Fabric }} </td>
          <td>{{ obj.Text|spacify|linebreaksbr }} </td>
          <td>{{ obj.Note }} </td>
          <td>{{ obj.Acknowledged }} </td>
          <td>
          {% if user.is_staff %}
              <a href="/{{app_label}}/change_acknowledge/?id={{obj.id}}" class="button small">
              {% if obj.Acknowledged %}
                  edit note
              {% else %}
                  acknowledge
              {% endif %}
              </a>
          {% endif %}
          </td>
      </tr>
    {% endfor %}

    </tbody>
  </table>

  </div>
{% endif %}

</div>
</div>

{% endblock %}


{% block script %}
<script>
// set filter values
    $( ".filter input" ).each(function( index ) {
      $(this).val(getUrlParameter(this.name));
    });
// export table to csv
    $(".export").on('click', function (event) {
      exportTableToCSV.apply(this, [$('#dvData>table'), $('#item_name').text()+'.csv']);
    });
// check last record in db

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
            // Only send the token to relative URLs i.e. locally.
            xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    }
});

setInterval(function() {
    $.ajax({
      url: '.', 
      type: 'post',
      data: {
        'last_obj_id': $('#last_obj_id').text(),
      },
      success: function(data) {
        if (data.refresh) {
            window.location.href = '.';
        }
      },
    });
}, 5000);
</script>
{% endblock %}


