{% extends "base.html" %}
{% load extras %}
{% block content %}
<style>
table tr td {padding: 0;}
</style>


<div class="row fullWidth withTop">
<div class="columns">

{% if xlist %}
<p><a href="#" id="matrix_button">show matrix</a></p>
<table id="matrix" style="display:none">
  <tr>
  <td></td>
  {% for minute in minutes %}<td colspan="{{ minute.1|length }}">{{ minute.0 }}</td>{% endfor%}
  </tr>

  <tr>
  <td></td>
  {% for minute in minutes %}{% for second in minute.1 %}<td>{{ second }}</td>{% endfor%}{% endfor%}
  </tr>

{% for row in xlist %}
  <tr>
    <td>{{ row.0 }}</td>
  {% for cell in row.1 %}
    <td>{% if cell %}{{ cell }}{% else %}&nbsp;{% endif %}</td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
{% endif %}


{% if cols %}

  <div id="dvData">
  <table>
    <thead>

    <tr class="service">
        <td colspan="{{ cols|length }}">
              {% if datetime %}<span>{{ datetime }}</span>{% endif %}
              <span>{{ rows|length }} records</span>
              {% if integer %}<span>integer: {{ integer }}</span>{% endif %}
              {% if request.GET|length %}<span><a href="{{ request.path }}" class="clear_filter">clear filter</a></span>{% endif %}
              <span><a href="#" class="export">export to csv</a></span>
              <span><a href="{{ request.build_absolute_uri }}">page link</a></span>
        </td>
    </tr>

    <tr>
        {% for cell in cols %}
            <th>
                {{ cell }}
            </th>
        {% endfor %}
    </tr>

    <form action="." method="get">
      <tr class="filter">
      {% for cell in cols %}
        <th>
        <input type="text" id="{{ cell }}" name="{{ cell }}")>
        </th>
      {% endfor %}
      </tr>
      <input type="submit" value="OK" class="filter_submit">
    </form>

    </thead>

    <tbody>

    {% for row in rows %}
      <tr>
        {% for cell in row %}
          <td>
            {{ cell|safe }}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}

    </tbody>

    {% if sum_row %}
    <tfoot>
      <tr>
        {% for cell in sum_row %}
          <td>
            {{ cell|safe }}
          </td>
        {% endfor %}
      </tr>
    </tfoot>
    {% endif %}


  </table>
  </div>
{% endif %}



</div>
</div>
{% endblock %}

{% block script %}
<script>
// set filter values
    $( ".filter input" ).each(function( index ) {
      $(this).val(getUrlParameter(this.name));
    });
// export table to csv
    $(".export").on('click', function (event) {
      exportTableToCSV.apply(this, [$('#dvData>table'), $('#page_label').text()+'_'+$('#last_update').text()+'.csv']);
    });
// show/hide matrix
    $("#matrix_button").click(function() {
      $("#matrix").toggle( "slow" );
      return false;
    });

</script>
{% endblock %}

